<!-- <div class="card">
    <app-otro-componente></app-otro-componente>
    <app-mi-primer-componente></app-mi-primer-componente>
    <div>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et orci vel nisi fermentum viverra. Sed at urna eu metus egestas tincidunt. Vestibulum finibus, turpis a semper imperdiet, ligula dolor suscipit purus, id tristique risus diam at risus. Nunc mollis lorem eu elit volutpat bibendum. Nunc commodo sed nibh id eleifend. Aenean eros quam, euismod sit amet velit sed, tincidunt vehicula lectus. Aliquam vitae imperdiet eros. In sit amet tellus bibendum, egestas libero sit amet, condimentum magna. Nunc efficitur est neque, non tincidunt sem eleifend et.

        Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras rhoncus massa ipsum, quis volutpat mi eleifend et. Fusce at libero vitae lorem vestibulum malesuada. Etiam sed nibh mattis augue lobortis consectetur sit amet sit amet mi. Vestibulum porta consectetur sem in ullamcorper. Mauris sed mattis urna. Praesent felis erat, semper elementum nisl in, accumsan dictum tellus. Aliquam sollicitudin ante non velit tristique, ac bibendum elit elementum.
    </div>
    <app-ultimo-componente></app-ultimo-componente>
</div>

<app-cmp-data-binding></app-cmp-data-binding> -->

<!--<app-comunicacion-entre-cmps></app-comunicacion-entre-cmps> -->

<!-- <app-cmp-curriculum-main></app-cmp-curriculum-main> -->

<!-- <app-cmp-pipes></app-cmp-pipes> -->

<!-- <app-cmp-directivas></app-cmp-directivas> -->

<!-- <app-cmp-servicios></app-cmp-servicios> -->
<!-- <app-generado-memes></app-generado-memes> -->

<!-- <app-cmp-formularios></app-cmp-formularios> -->

<app-cmp-routing></app-cmp-routing>